h1, h2 {
    font-family: 'Montserrat';
    text-align: center;
    color: White;

}

.s1 {
    background: url('../images/1.png');
    background-size: cover;
    
    
h1 {
    font-size: 3vw;
    text-align: left;
    text-indent: 80px;
    letter-spacing: 20px;
    }

h2 {
    text-align: left;
    font-size: 1.2vw;
    text-indent: 80px;
    }

    
}

.s2 {
    background: url('../images/2.png');
    background-size: cover;
    
h1 {
    font-size: 3vw;
    text-align: left;
    text-indent: 100px;
        }
		
    
}


.s3 {
    background: url('../images/3.png');
    background-size: cover;
    
}

// Navigation buttons colour

span {
    background: white !important;
    
}

// Iconify on Home page



.iconify:hover {
    color: plum;
}

// Below is for the card on about me page

* {
	box-sizing: border-box;
}


h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}





